* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url("assets/skies.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    width: 500px;
    height: 400px;
    background-color: #000000;
    opacity: 0.8;
    border-radius: 20px;
    padding: 20px;
}

input {
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    background-color: #7C7C7C2B;
    color: #FFFFFF;
    width: calc(100% - 100px);
}

button {
    border: none;
    border-radius: 50px;
    padding: 10px;
    float: right;
    background-color: #7C7C7C2B;
    cursor: pointer;
}

button:hover {
    background-color: #7C7C7C8B;
}

button:active {
    opacity: 0.8;
}

.lupa {
    width: 30px;
}

.weather {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
}

.temp {
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
}

.clouds-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.descriptions-box {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.description {
    color: #FFFFFF;
    text-transform: capitalize;
    font-weight: 600;
}

.humidity,
.feels-like {
    color: #FFFFFF;
}

.icon {
    width: 70px;
    display: none;
}

.error-message {
    color: red;
    padding-top: 10px;
}

.input.error {
    border: 2px solid red;
}

/* -------------------- RESPONSIVIDADE ------------------------------ */
@media screen and (max-width:500px) {
    body {
        background-position: center;
        min-height: 100dvh;
    }

    .container {
        width: 88%;
        height: 360px;
    }

    input {
        padding: 10px;
        font-size: 18px;
    }

    button {
        padding: 8px;
    }

    h2,
    .temp {
        font-size: 20px;
    }

    .description {
        font-weight: 600;
        font-size: 16px;
    }

    .icon {
        width: 50px;
    }

    .descriptions-box {
        gap: 50px;
        margin-top: 15px;
    }

    .clouds-box {
        margin-top: 0;
    }
}